<form action="/sign" method="post">
  <fieldset>
    <legend>Please sign in</legend>
    <p>
      User: <input type="text" name="user" value="">
    </p>
    <p>
      Pass: <input type="text" name="password" value="">
    </p>
    <button>Submit</button>
  </fieldset>
</form>
