<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>session practise</title>
  </head>
  <body>
    <!-- login successfully -->
    <p>welcome1 <strong><%=session.name%></strong></p>
  </body>
</html>
