
@import './base.css';
@import './button.scss';
@import './topbar-xinye.scss';
@import './navbar-xinye.scss';
@import './footer.scss';

.mi-container {
  width: $min-width;
  padding: 0 15px;
  margin: 0 auto;
}

.mi-body {
  width: 100%;
  height: 900px;

  .mi-navbar {
    background: #333;
  }

  .mi-main {
    padding-top: 77px;
  }

}

.fn-fl {
  float: left;
}

.fn-fr {
  float: right;
}

.fn-center {
  text-align: center;
}
