
@import './base.css';
@import './topbar.scss';
@import './button.scss';
@import './navbar.scss';

.container {
  width: $min-width;
  padding: 0 15px;
  margin: 0 auto;
}

.fn-fl {
  float: left;
}

.fn-fr {
  float: right;
}

.mi-footer {
  background: #333;
  color: #fff;
  padding: 10px 0 15px 0;
}
