
@mixin clearfix {
  &::before,
  &::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
}

@mixin primary-gradient {
  background-image: linear-gradient(to left, $primary-color, $primary-hover-color);
}

@mixin primary-hover-gradient {
  background-image: linear-gradient(to left, $primary-hover-color, $primary-hover-color);
}


@mixin trangle {
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-width: 5px;
    border-color: $primary-color $primary-color transparent transparent;
    border-style: solid;
  }
}