
@import 'variable.scss';

.mi-topbar {
  background: linear-gradient(to bottom, #fff, #f5f5f5);

  &__logo {
    float: left;
    margin: 7px 0 6px 0;
    width: 92px;
    height: 27px;
    text-indent: -9999px;
    background: url(./img/topbar-logo.png) no-repeat;
  }

  &__login {
    float: right;
    display: table;
    height: 45px;

    .mi-btn {
      color: #000;
    }
  }

  &__login-cell {
    display: table-cell;
    vertical-align: middle;
  }
}
