
@import 'variable.scss';

.mi-topbar {
  background: linear-gradient(to bottom, #fdfdfd, #ffffff);

  &__container {
    width: 1001px;
    margin: 0 auto;

  }

  &__logo {
    float: left;
    margin: 7px 0 6px 0;
  }

  &__login {
    float: right;

    .mi-btn {
      
    }
  }
}
