
$font-main-stack: tahoma,arial,"Hiragino Sans GB",\5b8b\4f53;

$font-stack: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;

$primary-color: #0cbaec;

$primary-hover-color: #098bff;

$base-color: #000;

$sub-color: #ccc;

$container-width: 1001px;

$warning-color: #ffb000;

$warning-hover-color: #ff6a00;
