<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>详情页</title>
  <%= require('html!./inc-meta.html') %>
</head>
<body>
  <%= require('html!./inc-topbar.html') %>
  <div class="mi-body">
    <%= require('html!./inc-navbar.html') %>
    <input type="hidden" name="navbar" value="1">
    <div class="mi-main">
      <div class="mi-container">
        <ol class="mi-breadcrumb">
          <li><a href="index.html">首页</a></li>
          <li><a href="index.html">旅行险</a></li>
          <li class="mi-active">美亚 “乐悠游” 境外旅行保障计划</li>
        </ol>
        <div class="mi-confirm">
          <h1>美亚 “乐悠游” 境外旅行保障计划</h1>

          <div class="mi-panel">
            <div class="mi-panel__hd mi-em">
              我是投保人
            </div>
            <div class="mi-panel__bd mi-water-logo">
              <span class="mi-vator">
                <img src="assets/images/vator.png" alt="" />
              </span>
              <div class="mi-myself">
                <dl>
                  <dt>姓名 :</dt>
                  <dd>王璇</dd>
                </dl>
                <dl>
                  <dt>证件类型 :</dt>
                  <dd>身份证</dd>
                </dl>
                <dl>
                  <dt>证件号码 :</dt>
                  <dd>2101050000000000</dd>
                </dl>
                <dl>
                  <dt>出生日期 :</dt>
                  <dd>1989-10-27</dd>
                </dl>
                <dl>
                  <dt>性别 :</dt>
                  <dd>女</dd>
                </dl>
                <dl>
                  <dt>手机号码 :</dt>
                  <dd>186-8888-8888</dd>
                </dl>
                <dl>
                  <dt>电子邮箱 :</dt>
                  <dd>peppen@gmail.com</dd>
                </dl>
              </div>
            </div>
          </div>

          <div class="mi-panel">
            <div class="mi-panel__hd mi-em">
              被保险人信息
            </div>
            <div class="mi-panel__bd">
              <div class="mi-card">
                <div class="mi-card__hd">
                  被保人1：（本人）
                </div>
                <div class="mi-card__bd">
                  <dl>
                    <dt>姓名 :</dt>
                    <dd>王璇</dd>
                  </dl>
                  <dl>
                    <dt>证件类型 :</dt>
                    <dd>身份证</dd>
                  </dl>
                  <dl>
                    <dt>证件号码 :</dt>
                    <dd>2101050000000000</dd>
                  </dl>
                  <dl>
                    <dt>出生日期 :</dt>
                    <dd>1989-10-27</dd>
                  </dl>
                  <dl>
                    <dt>性别 :</dt>
                    <dd>女</dd>
                  </dl>
                  <dl>
                    <dt>手机号码 :</dt>
                    <dd>186-8888-8888</dd>
                  </dl>
                  <dl>
                    <dt>电子邮箱 :</dt>
                    <dd>peppen@gmail.com</dd>
                  </dl>
                </div>
              </div>
              <div class="mi-card">
                <div class="mi-card__hd">
                  被保人2：（父母）
                </div>
                <div class="mi-card__bd">
                  <dl>
                    <dt>姓名 :</dt>
                    <dd>蒙清</dd>
                  </dl>
                  <dl>
                    <dt>证件类型 :</dt>
                    <dd>身份证</dd>
                  </dl>
                  <dl>
                    <dt>证件号码 :</dt>
                    <dd>9238972371212</dd>
                  </dl>
                  <dl>
                    <dt>出生日期 :</dt>
                    <dd>1989-10-27</dd>
                  </dl>
                  <dl>
                    <dt>性别 :</dt>
                    <dd>女</dd>
                  </dl>
                  <dl>
                    <dt>手机号码 :</dt>
                    <dd>186-8888-8888</dd>
                  </dl>
                  <dl>
                    <dt>电子邮箱 :</dt>
                    <dd>peppen@gmail.com</dd>
                  </dl>
                </div>
              </div>
              <div class="mi-card">
                <div class="mi-card__hd">
                  被保人3：（配偶）
                </div>
                <div class="mi-card__bd">
                  <dl>
                    <dt>姓名 :</dt>
                    <dd>赵青</dd>
                  </dl>
                  <dl>
                    <dt>证件类型 :</dt>
                    <dd>身份证</dd>
                  </dl>
                  <dl>
                    <dt>证件号码 :</dt>
                    <dd>2101050000000000</dd>
                  </dl>
                  <dl>
                    <dt>出生日期 :</dt>
                    <dd>1989-10-27</dd>
                  </dl>
                  <dl>
                    <dt>性别 :</dt>
                    <dd>女</dd>
                  </dl>
                  <dl>
                    <dt>手机号码 :</dt>
                    <dd>186-8888-8888</dd>
                  </dl>
                  <dl>
                    <dt>电子邮箱 :</dt>
                    <dd>peppen@gmail.com</dd>
                  </dl>
                </div>
              </div>
              <div class="mi-card">
                <div class="mi-card__hd">
                  被保人4：（子女）
                </div>
                <div class="mi-card__bd">
                  <dl>
                    <dt>姓名 :</dt>
                    <dd>王子琪</dd>
                  </dl>
                  <dl>
                    <dt>证件类型 :</dt>
                    <dd>身份证</dd>
                  </dl>
                  <dl>
                    <dt>证件号码 :</dt>
                    <dd>2101050000000000</dd>
                  </dl>
                  <dl>
                    <dt>出生日期 :</dt>
                    <dd>1989-10-27</dd>
                  </dl>
                  <dl>
                    <dt>性别 :</dt>
                    <dd>女</dd>
                  </dl>
                  <dl>
                    <dt>手机号码 :</dt>
                    <dd>186-8888-8888</dd>
                  </dl>
                  <dl>
                    <dt>电子邮箱 :</dt>
                    <dd>peppen@gmail.com</dd>
                  </dl>
                </div>
              </div>
              <div class="mi-card">
                <div class="mi-card__hd">
                  被保人5：（朋友）
                </div>
                <div class="mi-card__bd">
                  <dl>
                    <dt>姓名 :</dt>
                    <dd>赵三</dd>
                  </dl>
                  <dl>
                    <dt>证件类型 :</dt>
                    <dd>身份证</dd>
                  </dl>
                  <dl>
                    <dt>证件号码 :</dt>
                    <dd>2101050000000000</dd>
                  </dl>
                  <dl>
                    <dt>出生日期 :</dt>
                    <dd>1989-10-27</dd>
                  </dl>
                  <dl>
                    <dt>性别 :</dt>
                    <dd>女</dd>
                  </dl>
                  <dl>
                    <dt>手机号码 :</dt>
                    <dd>186-8888-8888</dd>
                  </dl>
                  <dl>
                    <dt>电子邮箱 :</dt>
                    <dd>peppen@gmail.com</dd>
                  </dl>
                </div>
              </div>
              <div class="mi-card">
                <div class="mi-card__hd">
                  被保人6：（朋友）
                </div>
                <div class="mi-card__bd">
                  <dl>
                    <dt>姓名 :</dt>
                    <dd>王洛</dd>
                  </dl>
                  <dl>
                    <dt>证件类型 :</dt>
                    <dd>身份证</dd>
                  </dl>
                  <dl>
                    <dt>证件号码 :</dt>
                    <dd>2101050000000000</dd>
                  </dl>
                  <dl>
                    <dt>出生日期 :</dt>
                    <dd>1989-10-27</dd>
                  </dl>
                  <dl>
                    <dt>性别 :</dt>
                    <dd>女</dd>
                  </dl>
                  <dl>
                    <dt>手机号码 :</dt>
                    <dd>186-8888-8888</dd>
                  </dl>
                  <dl>
                    <dt>电子邮箱 :</dt>
                    <dd>peppen@gmail.com</dd>
                  </dl>
                </div>
              </div>

            </div>
          </div>

          <div class="mi-panel">
            <div class="mi-panel__hd mi-em">
              起保日期
            </div>
            <div class="mi-panel__bd">
              <p class="mi-p-1">自 <span>2016年1月31日零时</span> 起至 <span>2016年1月31日二十四时</span> 止共 <em>1</em> 天</p>

              <div class="mi-panel">
                <div class="mi-panel__hd">
                  目的地
                </div>
                <div class="mi-panel__bd">
                  <dl>
                    <dt>目的地：</dt>
                    <dd>韩国</dd>
                  </dl>
                </div>
              </div>

              <div class="mi-panel">
                <div class="mi-panel__hd">
                  受益人
                </div>
                <div class="mi-panel__bd">
                  <dl>
                    <dt>受益人：</dt>
                    <dd>法定受益人</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>

          <table class="mi-table">
            <caption>保障计划</caption>
            <tr>
              <th>保障项目保险金额（人民币：元）</th>
              <th>白银计划</th>
              <th>黄金计划</th>
              <th>砖石计划</th>
            </tr>
            <tr>
              <td>个人意外伤害和医疗保障</td>
            </tr>
            <tr>
              <td>意外身故及伤残保障</td>
              <td>20万</td>
              <td>30万</td>
              <td>30万</td>
            </tr>
            <tr>
              <td>双倍给付意外伤害</td>
              <td>20万</td>
              <td>30万</td>
              <td>30万</td>
            </tr>
          </table>

          <div class="mi-panel mi-panel--warning">
            <div class="mi-panel__hd mi-em">
              投保申明确认
            </div>
            <div class="mi-panel__bd">
              <p class="mi-p-1">本人已了解并接受保险公司关于本产品的重要告知、详细条款、责任免除、犹豫期（仅限长期险）、费用扣除、保险单现金价值等在内的重要事</p>
              <label class="mi-p-1" for="decor">
                <input type="radio" name="decor" value="">
                <a href="#">我接受以上投保声明</a>
              </label>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="mi-price-footer">
    <div class="mi-container">
      <div class="mi-price-footer__detail">
        <p>美亚 “乐悠游” 境外旅行保障计划</p>
        <h1>￥180</h1>
      </div>
      <div class="mi-price-footer__preview">
        <a href="confirm.html" class="mi-btn mi-btn-warning">确认购买</a>
      </div>
    </div>
  </div>

  <%= require('html!./inc-footer.html') %>
</body>
</html>
