<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>资料填写</title>
  <%= require('html!./inc-meta.html') %>
</head>
<body>
  <%= require('html!./inc-topbar.html') %>
  <div class="mi-body">
    <%= require('html!./inc-navbar.html') %>
    <input type="hidden" name="navbar" value="1">
    <div class="mi-main">
      <div class="mi-container">
        <ol class="mi-breadcrumb">
          <li><a href="/">首页</a></li>
          <li><a href="/">旅行险</a></li>
          <li class="mi-active">美亚 “乐悠游” 境外旅行保障计划</li>
        </ol>
        <div class="mi-delivery">
          <h1>美亚 “乐悠游” 境外旅行保障计划</h1>

          <div class="mi-panel">
            <div class="mi-panel__hd mi-em">
              我是投保人
            </div>
            <div class="mi-panel__bd">
              <form class="mi-form">
                <div class="mi-row">
                  <div class="mi-input-group">
                    <div class="mi-input-group-addon"><i class="fa fa-user"></i></div>
                    <input type="text" class="mi-form-control" placeholder="姓名(例如:张三)">
                  </div>
                </div>
                <div class="mi-row">
                  <div class="mi-input-group">
                    <div class="mi-input-group-addon"><i class="fa fa-credit-card"></i></div>
                    <div class="mi-form-label">选择证件类型
                      <label class="mi-form-radio">
                        <input type="radio" name="credit" checked>
                        <span>身份证</span>
                      </label>
                      <label class="mi-form-radio">
                        <input type="radio" name="credit">
                        <span>护照</span>
                      </label>
                      <label class="mi-form-radio">
                        <input type="radio" name="credit">
                        <span>军官证</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="mi-row">
                  <div class="mi-input-group">
                    <div class="mi-input-group-addon"><i class="fa fa-credit-card"></i></div>
                    <input type="text" class="mi-form-control" placeholder="您的证件号码">
                  </div>
                </div>
                <div class="mi-row">
                  <div class="mi-input-group">
                    <div class="mi-input-group-addon"><i class="fa fa-birthday-cake"></i></div>
                    <input type="text" class="mi-form-control" placeholder="生日">
                  </div>
                </div>

                <div class="mi-row">
                  <div class="mi-input-group">
                    <div class="mi-input-group-addon"><i class="fa fa-transgender"></i></div>
                    <div class="mi-form-label">男孩or女孩？
                      <label class="mi-form-radio">
                        <input type="radio" name="gender" checked>
                        <span>男</span>
                      </label>
                      <label class="mi-form-radio">
                        <input type="radio" name="gender">
                        <span>女</span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="mi-row">
                  <div class="mi-input-group">
                    <div class="mi-input-group-addon"><i class="fa fa-phone"></i></div>
                    <input type="text" class="mi-form-control" placeholder="手机号码">
                  </div>
                </div>
                <div class="mi-row">
                  <div class="mi-input-group">
                    <div class="mi-input-group-addon"><i class="fa fa-envelope-o"></i></div>
                    <input type="text" class="mi-form-control" placeholder="电子邮箱">
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- end of panel -->


          <div class="mi-panel">
            <div class="mi-panel__hd mi-em">
              填写被保人信息(最多可录入3个被保险人)
            </div>
            <div class="mi-panel__bd">
              <form class="mi-form">

                <div class="mi-row">
                  <div class="mi-input-group">
                    <div class="mi-input-group-addon"><i class="fa fa-link"></i></div>
                    <div class="mi-form-label">与被保人关系
                      <label class="mi-form-radio">
                        <input type="radio" name="relation" checked>
                        <span>本人</span>
                      </label>
                      <label class="mi-form-radio">
                        <input type="radio" name="relation">
                        <span>父母</span>
                      </label>
                      <label class="mi-form-radio">
                        <input type="radio" name="relation">
                        <span>配偶</span>
                      </label>
                      <label class="mi-form-radio">
                        <input type="radio" name="relation">
                        <span>子女</span>
                      </label>
                      <label class="mi-form-radio">
                        <input type="radio" name="relation">
                        <span>其他</span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="mi-row">
                  <div class="mi-input-group">
                    <div class="mi-input-group-addon"><i class="fa fa-user"></i></div>
                    <input type="text" class="mi-form-control" placeholder="姓名(例如:张三)">
                  </div>
                </div>

                <div class="mi-row">
                  <div class="mi-input-group">
                    <div class="mi-input-group-addon"><i class="fa fa-credit-card"></i></div>
                    <div class="mi-form-label">选择证件类型
                      <label class="mi-form-radio">
                        <input type="radio" name="r-credit" checked>
                        <span>身份证</span>
                      </label>
                      <label class="mi-form-radio">
                        <input type="radio" name="r-credit">
                        <span>护照</span>
                      </label>
                      <label class="mi-form-radio">
                        <input type="radio" name="r-credit">
                        <span>军官证</span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="mi-row">
                  <div class="mi-input-group">
                    <div class="mi-input-group-addon"><i class="fa fa-credit-card"></i></div>
                    <input type="text" class="mi-form-control" placeholder="您的证件号码">
                  </div>
                </div>
                <div class="mi-row">
                  <div class="mi-input-group">
                    <div class="mi-input-group-addon"><i class="fa fa-birthday-cake"></i></div>
                    <input type="text" class="mi-form-control" placeholder="生日">
                  </div>
                </div>

                <div class="mi-row">
                  <div class="mi-input-group">
                    <div class="mi-input-group-addon"><i class="fa fa-transgender"></i></div>
                    <div class="mi-form-label">男孩or女孩？
                      <label class="mi-form-radio">
                        <input type="radio" name="gender" checked>
                        <span>男</span>
                      </label>
                      <label class="mi-form-radio">
                        <input type="radio" name="gender">
                        <span>女</span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="mi-row">
                  <div class="mi-input-group">
                    <div class="mi-input-group-addon"><i class="fa fa-phone"></i></div>
                    <input type="text" class="mi-form-control" placeholder="手机号码">
                  </div>
                </div>
                <div class="mi-row">
                  <div class="mi-input-group">
                    <div class="mi-input-group-addon"><i class="fa fa-envelope-o"></i></div>
                    <input type="text" class="mi-form-control" placeholder="电子邮箱">
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- end of sec panel  -->


          <div class="mi-panel">
            <div class="mi-panel__hd mi-em">
              目的地
            </div>
            <div class="mi-panel__bd">
              <form class="mi-form">
                <div class="mi-row">
                  <div class="mi-input-group">
                    <div class="mi-input-group-addon"><i class="fa fa-send"></i></div>
                    <div class="mi-form-label">选择目的地
                      <label class="mi-form-radio">
                        <input type="radio" name="dest" checked>
                        <span>中国</span>
                      </label>
                      <label class="mi-form-radio">
                        <input type="radio" name="dest">
                        <span>日本</span>
                      </label>
                      <label class="mi-form-radio">
                        <input type="radio" name="dest">
                        <span>韩国</span>
                      </label>
                    </div>
                  </div>
                </div>
              </form>

              <div class="mi-panel">
                <div class="mi-panel__hd">
                  受益人
                </div>
                <div class="mi-panel__bd">
                  <form class="mi-form">
                    <div class="mi-row">
                      <div class="mi-input-group">
                        <div class="mi-input-group-addon"><i class="fa fa-user"></i></div>
                        <input type="text" class="mi-form-control" placeholder="填写受益人">
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <div class="mi-panel">
                <div class="mi-panel__hd">
                  投保明细
                </div>
                <div class="mi-panel__bd">
                  <form class="mi-form">
                    <div class="mi-row">
                      <div class="mi-input-group">
                        <div class="mi-input-group-addon"><i class="fa fa-calendar"></i></div>
                        <input type="text" class="mi-form-control" placeholder="起保时间">
                      </div>
                    </div>
                    <div class="mi-row">
                      <p class="mi-p-1">有效期限：自 <span>2016-01-29</span> 至 <span>2016-02-04</span> 共 <em>7</em> 天（终保日期根据录入起保时间及保险天数带出）</p>
                      <p class="mi-p-1">产品名称：美亚 “乐悠游” 境外旅行保障计划</p>
                      <p class="mi-p-1">有效份数：<em>1</em>份（根据被保人数量计算）</p>
                    </div>
                    <div class="mi-row">
                      <div class="mi-input-group">
                        <div class="mi-input-group-addon"><i class="fa fa-paperclip"></i></div>
                        <div class="mi-form-label">邮寄发票吗？
                          <label class="mi-form-radio">
                            <input type="radio" name="fp" checked>
                            <span>是</span>
                          </label>
                          <label class="mi-form-radio">
                            <input type="radio" name="fp">
                            <span>否</span>
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="mi-fapiao">
                      <div class="mi-row">
                        <div class="mi-input-group">
                          <div class="mi-input-group-addon"><i class="fa fa-user"></i></div>
                          <input type="text" class="mi-form-control" placeholder="收件人签名">
                        </div>
                      </div>
                      <div class="mi-row">
                        <div class="mi-input-group">
                          <div class="mi-input-group-addon"><i class="fa fa-car"></i></div>
                          <input type="text" class="mi-form-control" placeholder="配送地址">
                        </div>
                      </div>
                      <div class="mi-row">
                        <div class="mi-input-group">
                          <div class="mi-input-group-addon"><i class="fa fa-envelope"></i></div>
                          <input type="text" class="mi-form-control" placeholder="邮编">
                        </div>
                      </div>
                      <div class="mi-row">
                        <div class="mi-input-group">
                          <div class="mi-input-group-addon"><i class="fa fa-phone"></i></div>
                          <input type="text" class="mi-form-control" placeholder="手机号码">
                        </div>
                      </div>
                    </div>

                  </form>
                </div>
              </div>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <div class="mi-price-footer">
    <div class="mi-container">
      <div class="mi-price-footer__detail">
        <p>美亚 “乐悠游” 境外旅行保障计划</p>
        <h1>￥180</h1>
      </div>
      <div class="mi-price-footer__preview">
        <a href="confirm.html" class="mi-btn mi-btn-primary">投保预览</a>
      </div>
    </div>
  </div>

  <%= require('html!./inc-footer.html') %>
</body>
</html>
