<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <link rel="stylesheet" href="styles/common.css">
</head>
<body>
  <%= require('html!./header.html') %>
  <div class="mi-banner">
    <div class="mi-banner__polyfill"></div>
    <div class="container">
      <div class="mi-banner__main">
        <h1>车行万里路 · 人车保平安</h1>
        <h2>Dealership miles · car insurance and peace</h2>
        <div class="mi-banner__action fn-clear">
          <button class="mi-btn mi-btn-primary">立即参与</button>
          <span class="qrcode"></span>
          <sub>扫一扫购买!</sub>
        </div>
        <div class="mi-banner__nav">
          <ul>
            <li><img src="assets/images/pic1.png" alt="" /></li>
            <li><img src="assets/images/pic2.png" alt="" /></li>
            <li><img src="assets/images/pic3.png" alt="" /></li>
            <li><img src="assets/images/pic4.jpg" alt="" /></li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- end of banner -->

  <div class="mi-main">
    <div class="container">

      <div class="mi-titlebar fn-clear">
        <h2 class="mi-titlebar__title">
          <img src="assets/images/recommand.png" alt="热门推荐" />
        </h2>
        <div class="mi-titlebar__nav">
          <ul class="fn-clear">
            <li><a class="mi-active" href="">女性专区</a></li>
            <li><a href="">商旅服务</a></li>
            <li><a href="">人身意外</a></li>
            <li><a href="">个性定制</a></li>
          </ul>
        </div>
      </div>
      <div class="mi-hot-section">
        <div class="fn-clear">
          <div class="mi-figure">
            <img src="assets/images/1.png" alt="" />
            <div class="mi-figcaption">
              <p>做回美丽的自己，为美丽护航</p>
              <sub>DO U BEST!BEAUTIFUL GIRL</sub>
            </div>
          </div>
          <div class="mi-figure">
            <img src="assets/images/2.png" alt="" />
            <div class="mi-figcaption">
              <p>不怕受罪，想退就退</p>
              <sub>不用担心你的运费我买单</sub>
            </div>
          </div>
          <div class="mi-figure">
            <img src="assets/images/3.png" alt="" />
            <div class="mi-figcaption">
              <p>美丽不落单，男人送上门！</p>
              <sub>剩女的福利</sub>
            </div>
          </div>
          <div class="mi-figure">
            <img src="assets/images/4.png" alt="" />
            <div class="mi-figcaption">
              <p>失恋了？</p>
              <sub>不用担心你的运费我买单</sub>
            </div>
          </div>
          <div class="mi-figure">
            <img src="assets/images/5.png" alt="" />
            <div class="mi-figcaption">
              <p>做回美丽的自己，为美丽护航</p>
              <sub>DO U BEST!BEAUTIFUL GIRL</sub>
            </div>
          </div>
        </div>
      </div>

      <div class="mi-titlebar fn-clear">
        <h2 class="mi-titlebar__title">
          <img src="assets/images/claim.png" alt="热门推荐" />
        </h2>
        <div class="mi-titlebar__nav">
          <ul class="fn-clear">
            <li><a class="mi-active" href="">专区理赔</a></li>
            <li><a href="">福利理赔</a></li>
            <li><a href="">特殊通道</a></li>
          </ul>
        </div>
      </div>
      <div class="mi-claims-section">
        <div class="fn-clear">
          <img src="assets/images/6.png" alt="美丽险" />
          <img src="assets/images/7.png" alt="美丽险" />
          <img src="assets/images/8.png" alt="美丽险" />
        </div>
      </div>

      <div class="other-logo-section">
        <img src="assets/images/logo2.png" alt="" />
        <img src="assets/images/logo2.png" alt="" />
        <img src="assets/images/logo3.png" alt="" />
        <img src="assets/images/logo4.png" alt="" />
        <img src="assets/images/logo5.png" alt="" />
      </div>
    </div>
  </div>

  <%= require('html!./footer.html') %>

  <script src="scripts/common.js"></script>
</body>
</html>
