<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <%= require('html!./header.html') %>
  <div class="mi-banner">
    <div class="mi-banner__polyfill"></div>
    <div class="container">
      <div class="mi-banner__main">
        <h1>车行万里路 · 人车保平安</h1>
        <h2>Dealership miles · car insurance and peace</h2>
        <div class="mi-banner__action fn-clear">
          <button class="mi-btn mi-btn-primary">立即参与</button>
          <span class="qrcode"></span>
          <sub>扫一扫购买!</sub>
        </div>
        <div class="mi-banner__nav">
          <ul>
            <li><img src="/assets/images/pic1.png" alt="" /></li>
            <li><img src="/assets/images/pic2.png" alt="" /></li>
            <li><img src="/assets/images/pic3.png" alt="" /></li>
            <li><img src="/assets/images/pic4.jpg" alt="" /></li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- end of banner -->

  <%= require('html!./footer.html') %>

  <script src="scripts/common.js"></script>
</body>
</html>
