
.mi-navbar {
	position: absolute;
	width: 100%;
	min-width: $container-width + 30;
	height: 78px;
	background-color: rgba(0, 0, 0, 0.1);

	&__header {
		float: left;
	}

	&__brand {
		float: left;
		width: 99px;
		height: 46px;
		padding: 17px 25px 13px 0;
		text-indent: -9999px;
		background: url(./img/navbar-logo.png) no-repeat;
		background-origin: content-box;
	}

	&__nav {
		float: left;

		li {
			float: left;
			padding: 0 20px;

			&:hover {
				background: rgba(0, 0, 0, 0.3);
			}

			&.mi-active a {
				color: $primary-color;
				border-bottom-color: $primary-color;
			}
		}

		a {
			display: block;
			font-size: 16px;
			font-weight: 500;
			color: rgba(255, 255, 255, 0.5);
			padding: 26px 8px;
			border-bottom: 3px solid transparent;

			&:hover {
				text-decoration: none;
				color: #e4e3e3;
			}

		}
	}

	&__nav-right {
		float: right;
		display: table;

		.contact {
			display: table-cell;
			width: 260px;
			height: 77px;
			background: rgba(0, 0, 0, 0.2) url(./img/service.png) no-repeat 50% 50%;
		}

		.qrcode {
			position: relative;
			display: table-cell;
			width: 100px;
			height: 77px;
			cursor: pointer;
			background: rgba(0, 0, 0, 0.3) url(./img/qrcode.png) no-repeat 50% 50%;

			&:hover .qrcode-code {
				height: 160px;
			}
		}

		.qrcode-code {
			position: absolute;
			box-sizing: border-box;
			z-index: 111;
			top: 78px;
			left: -32px;
			width: 160px;
			height: 0;
			background: rgba(0, 0, 0, 0.3) url(./img/navbar-qrcode.png) no-repeat center;
			transition: height .5s;
		}

	}

}
