<ion-view view-title="Home">
  <ion-content class="padding">

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Loading Duration (ms)</span>
        <input type="number" ng-model="loadingOptions.duration">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Loading Delay (ms)</span>
        <input type="number" ng-model="loadingOptions.delay">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Loading Template</span>
        <textarea rows="3" ng-model="loadingOptions.template"></textarea>
      </label>
      <ion-toggle class="item item-toggle"
                  ng-model="loadingOptions.noBackdrop">
        Hide Backdrop?
      </ion-toggle>
    </div>

  </ion-content>
</ion-view>
