
@import '../../common/mixins.scss';
@import '../../common/variable.scss';

.mi-delivery {

  h1 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .mi-p-1 {
    margin-bottom: 10px;

    span {
      color: red;
    }

    em {
      color: red;
      font-size: 24px;

    }
  }

  .mi-fapiao {
    margin-left: 150px;
  }
}
