<!DOCTYPE html>
<html ng-app="phonecatApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>angular phonecat</title>
  </head>
  <body ng-controller="PhoneListCtrl">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">

          Search: <input ng-model="query">
          Sort by:
          <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>
          </select>

        </div>
        <div class="col-md-10">

          <ul class="phones">
            <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
              <span>{{phone.name}}</span>
              <p>{{phone.snippet}}</p>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <script src="./scripts/app.bundle.js" charset="utf-8"></script>
  </body>
</html>
