
@import '../../common/variable.scss';

$brand-bgc: #f9f9f9;

.mi-banner {
	width: 100%;
	min-width: $container-width + 30;
	height: 669px;
	background-image: url(img/banner-bg-1.jpg);
	background-position: 50% 10%;
	transition: background-image 1s;

	&__main {
		position: absolute;
		top: 165+120px;
		width: 600px;
		height: 320px;
		padding-top: 30px;

		h1 {
			color: #fff;
			font-size: 36px;
			letter-spacing: 3px;
		}

		h2 {
			font-family: Arial;
			letter-spacing: 2px;
			color: #ccc;
			font-size: 20px;
		}

	}

	&__action {
		margin-top: 40px;

		.mi-btn {
			float: left;
			font-size: 24px;
			letter-spacing: 2px;
			padding: 14px 50px;
			color: #fff;
			outline: 0;
			background-image: linear-gradient(to right, $primary-hover-color, $primary-color);

			&:hover {
				background-image: linear-gradient(to left, $primary-hover-color, $primary-hover-color);
			}
		}

		.qrcode {
			float: left;
			margin-left: 20px;
			width: 66px;
			height: 66px;
			background: url(img/qrcode2.png) no-repeat;
		}

		.qrcode + sub {
			color: #ccc;
			bottom: -4em;
			margin-left: 20px;
		}

	}

	&__nav {
		width: 90%;
		height: 100px;
		margin-top: 29px;
		border-top: 1px solid #fff;

		li {
			display: block;
			width: 110px;
			height: 66px;
			overflow: hidden;
			float: left;
			margin-right: 15px;
			margin-top: 20px;
			opacity: 0.6;
			cursor: pointer;

			img {
				transition: transform 1s;
			}
		}

		li:hover,
		li.active {
			opacity: 1;
			outline: 2px solid #fff;
		}

		li:hover img,
		li.active img {
			transform: scale(1.2);
		}

	}

	&__polyfill {
		position: absolute;
		top: 165+120px;
		width: 58%;
		min-width: 626px;
		height: 320px;
		padding-top: 30px;
		background: rgba(0, 0, 0, 0.5);
	}

}

.mi-main {
	width: 100%;
	padding: 30px 0;
	background: url('./img/common-bg.jpg') no-repeat center 0;
}

.mi-hot-section {
	margin: 30px 0;

	.mi-figure {
		position: relative;
		float: left;
		margin-left: 10px;
		cursor: pointer;

		&:hover .mi-figcover {
			height: 100%;
		}

		&:hover .mi-figcaption,
		&:hover .mi-figtop {
			display: none;
		}
	}

	.mi-figure:nth-child(4),
	.mi-figure:nth-child(5) {
		margin-top: 5px;
	}

	.mi-figure:first-child {

		.mi-figcaption {
			padding: 30px 10px;
		}

	}

	.mi-figcover {
		position: absolute;
		top: 0;
		width: 100%;
		height: 0;
		overflow: hidden;
		color: #fff;
		text-align: center;
		background: rgba(0, 0, 0, 0.5);
		transition: height 0.5s;
	}

	.mi-figcover-content {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 250px;
		height: 140px;
		margin-top: -70px;
		margin-left: -125px;

		h1 {
			font-weight: bold;
			font-size: 18px;
		}

		h2 {
			font-size: 22px;
			font-weight: bold;
			color: $primary-color;
		}

		p {
			margin-top: 10px;
		}
	}

	.mi-figtop {
		position: absolute;
		top: 10px;
		left: 10px;
		color: #fff;

		h2 {
			font-size: 20px;
			font-weight: bold;
		}
	}

	.mi-figcaption {
		position: absolute;
		width: 100%;
		bottom: 5px;
		background: rgba(0, 0, 0, 0.2);
		color: #fff;
		padding: 10px;
		box-sizing: border-box;

		sub {
			color: #ccc;
		}
	}
}

.mi-claims-section {
	margin: 30px 0 0 0;

	img {
		margin-left: 8px;
	}
}

.other-logo-section {
	margin: 40px 0;

	.brand-logo {
		margin-left: 6px;
		display: inline-block;
		width: 188px;
		height: 70px;
	}

	.brand-logo-allianz {
		background: $brand-bgc url(./img/brand-allianz.png) no-repeat 50% 50%;
	}

	.brand-logo-aig {
		background: $brand-bgc url(./img/brand-aig.png) no-repeat 50% 50%;
	}

	.brand-logo-zhongmin {
		background: $brand-bgc url(./img/brand-zhongmin.gif) no-repeat 50% 50%;
	}

	.brand-logo-pinan {
		background: $brand-bgc url(./img/brand-pinan.gif) no-repeat 50% 50%;
	}

	.brand-logo-renshou {
		background: $brand-bgc url(./img/brand-renshou.png) no-repeat 50% 50%;
	}

	.brand-logo-taikang {
		background: $brand-bgc url(./img/brand-taikang.png) no-repeat 50% 50%;
	}

	.brand-logo-taipinyang {
		background: $brand-bgc url(./img/brand-taipinyang.png) no-repeat 50% 50%;
	}

	.brand-logo-zongchen {
		background: $brand-bgc url(./img/brand-zongchen.png) no-repeat 50% 50%;
	}

	.brand-logo-ing {
		background: $brand-bgc url(./img/brand-ing.png) no-repeat 50% 50%;
	}

	.brand-logo-taipin {
		background: $brand-bgc url(./img/brand-taipin.png) no-repeat 50% 50%;
	}
}
