
@import '../../common/variable.scss';

.mi-banner {
	width: 100%;
	min-width: $min-width + 30;
	height: 669px;
	background-image: url(images/banner-bg-1.jpg);
	background-position: 50% 10%;
	transition: background-image 1s;

	&__main {
		position: absolute;
		top: 165+120px;
		width: 600px;
		height: 320px;
		padding-top: 30px;

		h1 {
			color: #fff;
			font-size: 36px;
			letter-spacing: 3px;
		}

		h2 {
			font-family: Arial;
			letter-spacing: 2px;
			color: #ccc;
			font-size: 20px;
		}

	}

	&__action {
		margin-top: 40px;

		.mi-btn {
			float: left;
			font-size: 24px;
			letter-spacing: 2px;
			padding: 14px 50px;
			color: #fff;
			outline: 0;
		}

		.qrcode {
			float: left;
			margin-left: 20px;
			width: 66px;
			height: 66px;
			background: url(images/qrcode2.png) no-repeat;
		}

		.qrcode + sub {
			color: #ccc;
			bottom: -4em;
			margin-left: 20px;
		}

	}

	&__nav {
		width: 90%;
		height: 100px;
		margin-top: 29px;
		border-top: 1px solid #fff;

		li {
			display: block;
			width: 110px;
			height: 66px;
			overflow: hidden;
			float: left;
			margin-right: 15px;
			margin-top: 20px;
			opacity: 0.6;
			cursor: pointer;

			img {
				transition: transform 1s;
			}
		}

		li:hover,
		li.active {
			opacity: 1;
			outline: 2px solid #fff;
		}

		li:hover img,
		li.active img {
			transform: scale(1.2);
		}

	}

	&__polyfill {
		position: absolute;
		top: 165+120px;
		width: 58%;
		min-width: 626px;
		height: 320px;
		padding-top: 30px;
		background: rgba(0, 0, 0, 0.5);
	}

}

.mi-main {
	width: 100%;
	border: 1px solid purple;
}

.mi-titlebar {
	margin-top: 30px;
	width: 100%;
	border-bottom: 1px solid #ddd;

	&__title {
		float: left;
	}

	&__nav {
		margin-left: 160px;

		li {
			float: left;
		}

		a {
			display: inline-block;
			padding: 15px 0;
			margin: 0 20px;
			color: #909090;
			border-bottom: 1px solid transparent;
			transition: all .3s;
		}

		a:hover,
    a.mi-active {
			color: $primary-color;
			text-decoration: none;
			border-bottom: 1px solid $primary-color;
		}
	}
}

.mi-hot-section {
	margin: 30px 0;

	.mi-figure {
		position: relative;
		float: left;
		margin-left: 10px;
	}

	.mi-figure:nth-child(4),
	.mi-figure:nth-child(5) {
		margin-top: 5px;
	}

	.mi-figure:first-child {

		&::after {
			content: '';
			display: inline-block;
			position: absolute;
			right: 0;
			top: 0;
			width: 76px;
			height: 76px;
			background: url(images/tag.png) no-repeat;
		}

		.mi-figcaption {
			padding: 20px 10px;
		}
	}

	.mi-figcaption {
		position: absolute;
		width: 100%;
		bottom: 5px;
		background: rgba(0, 0, 0, 0.2);
		color: #fff;
		padding: 10px;
		box-sizing: border-box;

		sub {
			color: #ccc;
		}
	}
}

.mi-claims-section {
	margin: 30px 0;

	img {
		margin-left: 8px;
	}
}

.other-logo-section {
	margin: 60px 0;

	img {
		margin-left: 58px;
	}
}
